@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Techbit DEMO';
  src: url('/fonts/OvercameDemoRegular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
